* {
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(79deg, #db39d8, #c66faf 48%, #f74d4d);

}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  padding: 5rem;


}

@media screen and (min-width:600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5rem;
  }

}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;

}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
  margin: auto;
  border: 1px solid lightgray;

}

.RegistrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  margin: auto;
  border: 1px solid lightgray;
}

.userName>.MuiTextField-root,
.password>.MuiTextField-root,
.cityNVillage>.MuiTextField-root,
.distNState>.MuiTextField-root {
  width: 350px;
  margin: 10px;
}

.MuiButton-root {
  width: 200px;
  margin: 50px;
}

.courses {
  display: flex;
  flex-direction: row;
}

.courses>.MuiFormGroup-root {
  width: 470px;
  margin-left: 50px;
}

/* .oneGroup>.MuiFormControlLabel-root{
  width: 150px;
} */
.oneGroup>.MuiFormControlLabel-root {
  width: 150px;
}